{% extends '_base.html' %}

{% block extra_head %}
    <!-- For datetime widget -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetime-picker.css') }}">
{% endblock %}

{% block content %}
   <div id="app"></div>
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment-with-locales.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datetime-picker.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/peak_charts.es6') }}"></script>
{% endblock %}