{% extends 'settings/_base_settings.html' %}

{% block content2 %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#projects">Projects</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#teams">Teams</a></li>
    </ul>
    <!-- Tab panes -->
    <div id="tabs_content" class="tab-content">
        <div id="projects" class="container tab-pane active col-9"><br>
            <h3>Update project list</h3>

            <div class="input-group input-group-sm mb-3">
                <input id="input_project" type="text" class="form-control" placeholder="Enter project name" aria-label="Enter project name" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="add_project" class="btn btn-outline-secondary" type="button" data-action="add_project">Add project</button>
                </div>
            </div>

            <table class="table table-sm table-borderless">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Project name</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                </thead>

                <tbody id="table_body">
                    {% for project in projects %}
                        <tr data-project-id={{project.id}}>
                          <td class="col-8">{{project.title}}</td>
                          <td class="col-2"><button type="button" class="btn btn-sm btn-block btn-danger" data-action="edit_project"><span class="fa fa-pencil-square-o"></span> Edit</button></td>
                          <td class="col-2"><button type="button" class="btn btn-sm btn-block btn-danger" data-action="del_project"><span class="fa fa-trash-o"></span> Delete</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="teams" class="container tab-pane"><br>
            <h3>Update team list</h3>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/settings/settings_general.es6') }}"></script>
{% endblock %}
