<div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 container-fluid filters text-center">
    <div class="card my-4 ml-2">
        <div class="text-center filter-group">
            <h5 class="filter-title">Server</h5>
            <input type="text" class="form-control search-input" placeholder="Search" id="server-control">
            <ul class="search-list list-group">
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
            </ul>
        </div>
    </div>

    <div class="card my-4 ml-2">
        <div class="text-center filter-group">
            <h5 class="filter-title">Server</h5>
            <input type="text" class="form-control search-input" placeholder="Search" id="server-control">
            <ul class="search-list list-group">
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
            </ul>
        </div>
    </div>
    <div class="card my-4 ml-2">
        <div class="text-center filter-group">
            <h5 class="filter-title">Server</h5>
            <input type="text" class="form-control search-input" placeholder="Search" id="server-control">
            <ul class="search-list list-group">
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
            </ul>
        </div>
    </div>
        <div class="card my-4 ml-2">
            <div class="text-center filter-group">
                <h5 class="filter-title">Server</h5>
                <input type="text" class="form-control search-input" placeholder="Search" id="server-control">
                <ul class="search-list list-group">
                    <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                    <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                    <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                    <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                    <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                    <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                    <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                    <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                    <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                    <li class="list-group-item search-list-item"><input type="checkbox"><span>loltext</span></li>
                </ul>
            </div>
        </div>
    
<button class="btn btn-primary my-2">Submit</button>
</div>